.nav-link{
    margin-left: 40px;
    color: #666 !important;
}

.nav-link:hover {
    color: #387ed1 !important;
}

#footer-a a{
    text-decoration: none;
    color: #666; 
    
}

#footer li{
    list-style-type: none;
     
}

.f-text{
    font-size: 0.65rem;
    color: #9b9b9b;

}

#footer-a ul{
    list-style-type: none;
    
}

#footer-a ul li{
     margin-top: 4px;
}

.price-li ul li{
    margin-top: 4px;
}